<ul class="collapsible ">
    <li class="active">
      <div class="collapsible-header z-depth-1 lhead"><i class="material-icons">login</i>Sign In with Email and Password </div>
      <div class="collapsible-body">
        <form class="col s12"(ngSubmit)="signin()">
          <div class="row">
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" [(ngModel)]="signinObj.email" name="email">
                <label for="email" class="active">Email</label>
              </div>
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">vpn_lock</i>
                <input id="password" type="password" class="validate" [(ngModel)]="signinObj.password" name="password">
                <label for="password" class="active">Password</label>
              </div>
          </div>
          <div class="row">
            <div class="col s12 m12">
              <button class="btn waves-effect gray  " type="submit" name="action" >Login
                <i class="material-icons right">login</i>
              </button>
            </div>                         
          </div>
        </form>
        .
      </div>
    </li>
    <li>
      <div class="collapsible-header z-depth-1 lhead"><i class="material-icons">person_add</i>New to Gyan360 ? Signup here </div>
      <div class="collapsible-body">
        <form class="col s12"(ngSubmit)="signUp()">
          <div class="row">
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">email</i>
                <input id="semail" type="email" class="validate" [(ngModel)]="signupObj.email" name="semail">
                <label for="semail" class="active">Email</label>
              </div>
              
          </div>
          <div class="row">
            <div class="input-field col s12 m12">
                <i class="material-icons prefix">vpn_lock</i>
                <input id="password1" type="password" class="validate" [(ngModel)]="signupObj.password1" name="password1">
                <label for="password1" class="active">Enter Password</label>
              </div>
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">vpn_lock</i>
                <input id="password2" type="password" class="validate" [(ngModel)]="signupObj.password2" name="password2">
                <label for="password2" class="active">Re-Enter Password</label>
              </div>
          </div>
          <div class="row">
            <div class="col s12 m12">
              <button class="btn waves-effect gray  " type="submit" name="action"  [ngClass]="{'disabled':signupObj.password1!=signupObj.password2}">Signup & Send Verification Email
                <i class="material-icons right">outgoing_mail</i>
              </button>
            </div>                         
          </div>
        </form>
        .
      </div>
    </li>
    <li>
      <div class="collapsible-header z-depth-1 lhead"><i class="material-icons">lock_reset</i>Forgot Password ? Reset here</div>
      <div class="collapsible-body">
        <form class="col s12"(ngSubmit)="resetmail()">
          <div class="row">
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">email</i>
                <input id="remail" type="email" class="validate" [(ngModel)]="resetObj.email" name="remail">
                <label for="remail" class="active">Email</label>
              </div>
              
          </div>
          <div class="row">
            <div class="col s12 m12">
              <button class="btn waves-effect gray  " type="submit" name="action" >Send Password reset Email
                <i class="material-icons right">send</i>
              </button>
            </div>                         
          </div>
        </form>
        .
      </div>
    </li>
  </ul>
