<ul class="collapsible ">
    <li class="active">
      <div class="collapsible-header z-depth-1 lhead"><i class="material-icons">lock_reset</i>Enter new password </div>
      <div class="collapsible-body">
        <form class="col s12"(ngSubmit)="reset()">
          <div class="row">
            <div class="input-field col s12 m12">
                <i class="material-icons prefix">vpn_lock</i>
                <input id="password1" type="password" class="validate" [(ngModel)]="resetObj.password1" name="password1">
                <label for="password1" class="active">Enter Password</label>
              </div>
              <div class="input-field col s12 m12">
                <i class="material-icons prefix">vpn_lock</i>
                <input id="password2" type="password" class="validate" [(ngModel)]="resetObj.password2" name="password2">
                <label for="password2" class="active">Re-Enter Password</label>
              </div>
          </div>
          <div class="row">
            <div class="col s12 m12">
              <button class="btn waves-effect gray  " type="submit" name="action" [ngClass]="{'disabled':resetObj.password1!=resetObj.password2}">Reset Password
                <i class="material-icons right">lock_reset</i>
              </button>
            </div>                         
          </div>
        </form>
        .
      </div>
    </li>
    </ul>
