ul{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
}
.lhead{
    font-weight: 400;
    background: linear-gradient(30deg, #1A5388, #1A5388);
    height: 6vh;
    padding-top: 1vh;
    font-size: small;
    color: white;
    pointer-events: none;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}