/* You can add global styles to this file, and also import other style files */
.btn{
    background: linear-gradient(30deg, #1A5388, #3592eb);
    color: white;
    margin: 1%;
}
select{
    border: solid #1A5388 1px;
    height: 1%;
}
article{
    padding-left: 0%;
    padding-right: 0%;
}
body{
    color: #1A5388;
}
a:hover{
    color:white;
    text-decoration: none;
}
.btn-small{
    width: 100%;
}
hr{
    opacity: 0;
}
.btn{
    width:100%;
}
aside{
    margin-bottom: 0px;
    padding: 0px;
}