.seperator{
    font-weight: 700;
    color: black;
}
.subsec{
    font-size: small;
    color: rgb(151, 145, 145);;
}
.hidden{
    display: none;
}
.marks{
    position: absolute;
    right: 0px;
}
.set{
    overflow-x: scroll;

}
.set::-webkit-scrollbar {
    height: 0em;
  }
  .subline{
    font-size: smaller;
    color: rgba(151, 145, 145, 0.651);
  }