<div>
    <div class="row border"*ngFor="let sch of  schemaArr;let j=index"[ngClass]="{'hidden': sch[7].length<1}">
        <div class="col s10 m10 seperator">
            {{sch[0].qualifierdetails}}
            
        </div>
        <div class="col s2 m2 seperator">
            {{sch[3]}}*{{sch[0].qualifiermarks}}={{sch[3]*sch[0].qualifiermarks}}m
        </div>
        <div class="col s12 m12 subline"[ngClass]="{'hidden': sch[4]<1}">
            Answer any {{sch[3]}} out of {{sch[3]+sch[4]}} questions
            
        </div>
        <div class="row "*ngFor="let schs of  sch[7];let i=index;">
            <div class="col s1 m1 subsec">{{i+1}}]</div>
            <div class="col s11 m6 subsec"  [innerHTML]="schs.questionbody">
                
            </div>
        </div>
    </div>
</div>
