<ul class="">
    
  
  <article class=""    >
      <div class="row selector">
        <div class=" col s12 m3"[ngClass]="{'hidden':commonService.user.roleId!=1}">
          <select class="browser-default" [(ngModel)]="commonService.schoolId" name="SchoolId" (change)="ngOnInit()">
              <option value=''  disabled selected>Select A School</option>
              <option *ngFor="let school of commonService.schoolArr" [value]="school.id">{{school.schoolname}}</option>
          </select>
          <label>Please Select a school from the list</label>
        </div>
          <div class=" col s12 m3">
          <select class="browser-default" [(ngModel)]="classId" name="classId" (change)="loadSubjects()" style="height: 1%;">
              <option value=''  disabled selected>Select A Class</option>
              <option *ngFor="let class of classArr" [value]="class.id">{{class.classname}}</option>
          </select>
          <label>Select A Class</label>
          </div>
          
              <div class=" col s12 m3">
              <select class="browser-default" [(ngModel)]="subjectId" name="subjectId" (change)="loadChapters()"   style="height: 1%;">
                  <option value=''  disabled selected>Select A Subject</option>
                  <option *ngFor="let subject of subjectArr " [value]="subject.id">{{subject.subjectname}}</option>
              </select>
              <label>Select A Subject</label>
              </div>
              <div class=" col s12 m3">
                <select class="browser-default" [(ngModel)]="chapterId" name="chapterId"  style="height: 1%;">
                    <option value=''  disabled selected>Select A Chapter</option>
                    <option *ngFor="let chapter of chapterArr " [value]="chapter.id">{{chapter.chaptername}}</option>
                </select>
                <label>Select A Chapter</label>
                </div>
          <div class="col s12 m3">
          <button class="btn waves-effect   " type="button" name="action"(click)="load()">Load Questions
              <i class="material-icons right">cloud_sync</i>
          </button>
          </div>
      </div>
      <div class="row">
      <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==0}" (click)="setTab(0)">
          <i class="material-icons">
              library_add
          </i>Create
      </div>
      <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==1}" (click)="setTab(1)">
          <i class="material-icons">pageview</i>Search
      </div>
      <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==2}" (click)="notice()">
          <i class="material-icons">draw</i>Update
      </div>
      
      </div>
      <div class="row hidden" [ngClass]="{'visible':tabIndex==0}">
        <div class="row">
          
        </div>
          <div class="row">
              <form class="col s12"(ngSubmit)="create()">
                  <div class="row">
                      <div class="input-field col s12 m12">
                        <label for="createQueEditor">Question Body</label>
                        <div id="createQueEditor"></div>
                      </div>
                      <div class="input-field col s12 m4 hidden">
                        <i class="material-icons prefix">ballot</i>
                        <textarea id="questionoptions" type="text" class="validate" [(ngModel)]="createObj.questionoptions" name="questionoptions"></textarea>
                        <span class="helper-text">Multiple choice Options [eg:option1||option2||...]</span>
                      </div>
                    </div><div class="row">
                      <div class="col s12 m4">
                        <select class="browser-default " [(ngModel)]="createObj.questiontype" name="questiontype">
                          <option value="" disabled selected>Select Question Type</option>
                          <option value="Discriptive">Discriptive</option>
                          <option value="MultipleChoice">MultipleChoice</option>
                          <option value="Image&Discription">Image&Discription</option>
                          <option value="Image&MultipleChoice">Image&MultipleChoice</option>
                        </select>
                        <label>Select Question Type</label>
                      </div>
                    
                      <div class="col s12 m4">
                          <select class="browser-default " [(ngModel)]="createObj.status" name="status">
                            <option value="Active" disabled selected>Select Question status</option>
                            <option value="Active">Active</option>
                            <option value="Disabled">Disabled</option>
                          </select>
                          <label>Select Question status</label>
                        </div>
                        <div class="col s12 m4">
                          <select class="browser-default " [(ngModel)]="createObj.qualifierid" name="qualifierid">
                            <option value="" disabled selected>Select Static Qualifier </option>
                            <option [value]="qua.id " *ngFor="let qua of qualifierArr">{{qua.qualifiername}}-{{qua.qualifiermarks}}</option>
                          </select>
                          <label>Select Static Qualifier</label>
                        </div>
                        <div class="col s12 m4">
                          <select class="browser-default " [(ngModel)]="createObj.dynamicqualifier" name="dqualifierid" multiple>
                            <option value="" disabled selected>Select Dynamic Qualifier </option>
                            <option [value]="dqua.id " *ngFor="let dqua of dqualifierArr">{{dqua.qualifiername}}</option>
                          </select>
                          <label>Select Dynamic Qualifier</label>
                        </div>
                      </div><div class="row">
                          <div class="col s12 m4">
                            <button class="btn waves-effect gray  " type="submit" name="action" >Create
                              <i class="material-icons right">send</i>
                            </button>
                          </div>                         
                      </div>
              </form>
            </div>
      </div>
      <div class="row hidden" [ngClass]="{'visible':tabIndex==1}">
              <span class="col s12 m6"></span>
              <div  class="col s12 m2">
                <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">cloud_download</i> Text</a>
              </div>
              <div  class="col s12 m2">
                <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">download</i> CSV</a>
              </div>
              <div  class="col s12 m2">
                <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">system_update_alt</i> EXCEL</a>
              </div>
          
          <div class="col s12">
              <div id="wrapper"></div>
          </div>
      </div>
      <div class="row hidden" [ngClass]="{'visible':tabIndex==2}">
          <div class="row">
              <form class="col s12"(ngSubmit)="udateQuestion(updateObj.id)">
                  <div class="row">
                      <div class="input-field col s12 m12">
                        <div id="updateQueEditor"></div>
                      </div>
                      <div class="input-field col s12 m8 hidden">
                        <i class="material-icons prefix">ballot</i>
                        <textarea id="questionoptions1" type="text" class="validate" [(ngModel)]="updateObj.questionoptions" name="questionoptions1"></textarea>
                        <span class="helper-text">Multiple choice Options [eg:option1||option2||...]</span>
                      </div>
                    </div><div class="row">
                      <div class="col s12 m4">
                        <select class="browser-default " [(ngModel)]="updateObj.questiontype" name="questiontype1">
                          <option value="" disabled selected>Select Question Type</option>
                          <option value="Discriptive">Discriptive</option>
                          <option value="MultipleChoice">MultipleChoice</option>
                          <option value="Image&Discription">Image&Discription</option>
                          <option value="Image&MultipleChoice">Image&MultipleChoice</option>
                        </select>
                        <label>Select Question Type</label>
                      </div>
                      <div class="col s12 m4">
                        <select class="browser-default " [(ngModel)]="updateObj.status" name="status1">
                          
                          <option value="Active">Active</option>
                          <option value="Disabled">Disabled</option>
                        </select>
                        <label>Select Question status</label>
                      </div>
                      <div class="col s12 m4">
                        <select class="browser-default " [(ngModel)]="updateObj.qualifierid" name="qualifierid">
                          <option value="" disabled selected>Select Static Qualifier </option>
                          <option [value]="qua.id " *ngFor="let qua of qualifierArr">{{qua.qualifiername}}-{{qua.qualifiermarks}}</option>
                        </select>
                        <label>Select Static Qualifier</label>
                      </div>
                      <div class="col s12 m4">
                        <select class="browser-default " [(ngModel)]="updateObj.dynamicqualifier" name="dqualifierid" multiple>
                          <option value="" disabled selected>Select Dynamic Qualifier </option>
                          <option [value]="dqua.id " *ngFor="let dqua of dqualifierArr">{{dqua.qualifiername}}</option>
                        </select>
                        <label>Select Dynamic Qualifier</label>
                      </div>
                    </div><div class="row">
                        </div><div class="row">
                        <div class="col s12 m4">
                            <button class="btn waves-effect gray  " type="submit" name="action">Update
                                <i class="material-icons right">send</i>
                            </button>
                          </div>
                        </div>
              </form>
            </div>
      </div>
      
  </article>
</ul>



