<ul class="collapsible "[ngClass]="{'hidden': commonService.user.isEmailVerified!=true}">
    <li class="active">
      <div class="collapsible-header z-depth-1 lhead"><i class="material-icons">gpp_bad</i>User Email Not Verified</div>
      <div class="collapsible-body">
          <div class="row">
            <div class="col s12 m12">
                Visit yor mail inbox and click the link to confirm your email
            </div>
            </div><div class="row">
            <div class="col s12 m12">
                If You have not recieved any confirmation mail, 
            </div>
        </div><div class="row">
            <div class="col s12 m12">
                then please use the link below
            </div>
        </div><div class="row">
            <div class="col s12 m12">
              <button class="btn waves-effect gray  " type="button" name="action" (click)="signout()">Re-Send confirmation  Email
                <i class="material-icons right">send</i>
              </button>
            </div>                         
          </div>
      </div>
    </li>
</ul>
<ul class="collapsible "[ngClass]="{'hidden': commonService.user.isEmailVerified==true}">
  <li class="active">
    <div class="collapsible-header z-depth-1 lhead"><i class="material-icons">gpp_bad</i>User Not Registered</div>
    <div class="collapsible-body">
        <div class="row">
          <div class="col s12 m12">
              Please Contact your Management 
          </div>
          </div><div class="row">
          <div class="col s12 m12">
              And request to add Your mail id 
          </div>
      </div>
    </div>
  </li>
</ul>
