<ul class="">
    
    
    <article class="" >
      <div class="row selector">
        <div class=" col s12 m3"[ngClass]="{'hidden':commonService.user.roleId!=1}">
          <select class="browser-default" [(ngModel)]="commonService.schoolId" name="SchoolId" (change)="ngOnInit()">
              <option value=''  disabled selected>Select A School</option>
              <option *ngFor="let school of commonService.schoolArr" [value]="school.id">{{school.schoolname}}</option>
          </select>
          <label>Please Select a school from the list</label>
        </div>
      </div>
        <div class="row">
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==0}" (click)="setTab(0)">
            <i class="material-icons">
                library_add
            </i>Create
        </div>
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==1}" (click)="setTab(1)">
            <i class="material-icons">pageview</i>Search
        </div>
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==2}" (click)="notice()">
            <i class="material-icons">draw</i>Update
        </div>
        
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==0}">
            <div class="row">
                <form class="col s12"(ngSubmit)="create()">
                    <div class="row">
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">school</i>
                          <input id="classname" type="text" class="validate" [(ngModel)]="createObj.classname" name="classname">
                          <label for="classname">Class Name</label>
                        </div>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">subtitles</i>
                          <input id="divisionname" type="text" class="validate" [(ngModel)]="createObj.divisionname" name="divisionname">
                          <label for="divisionname">Division Name</label>
                        </div>
                       
                        <div class="col s12 m4">
                          <select class="browser-default " [(ngModel)]="createObj.status" name="status">
                            <option value="Active" disabled selected>Select Class status</option>
                            <option value="Active">Active</option>
                            <option value="Disabled">Disabled</option>
                          </select>
                          <label>Select Class status</label>
                        </div>
                        </div><div class="row">
                          <div class="col s12 m4">
                            <button class="btn waves-effect gray  " type="submit" name="action" >Create
                              <i class="material-icons right">send</i>
                            </button>
                          </div>                         
                      </div>
                </form>
              </div>
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==1}">
                <span class="col s12 m6"></span>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">cloud_download</i> Text</a>
                </div>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">download</i> CSV</a>
                </div>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">system_update_alt</i> EXCEL</a>
                </div>

            <div class="col s12">
                <div id="wrapper"></div>
            </div>
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==2}">
            <div class="row">
                <form class="col s12"(ngSubmit)="udateClass(updateObj.id)">
                    <div class="row">
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">groups</i>
                          <input id="classname1" type="text" class="validate" [(ngModel)]="updateObj.classname" name="classname">
                          
                          <span class="helper-text" >Class Name</span>
                        </div>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">safety_divider</i>
                          <input id="divisionname1" type="text" class="validate" [(ngModel)]="updateObj.divisionname" name="divisionname">
                          
                          <span class="helper-text" >Division Name</span>
                        </div>
                        
                        <div class="col s12 m4">
                          <select class="browser-default " name="schoolstatus"[(ngModel)]="updateObj.status">
                            <option [value]="updateObj.status">{{updateObj.status}}</option>
                            <option value="Active">Active</option>
                            <option value="Disabled">Disabled</option>
                          </select>
                          <label>Select Class status</label>
                        </div>
                        </div><div class="row">
                        <div class="col s12 m4">
                            <button class="btn waves-effect gray  " type="submit" name="action">Update
                                <i class="material-icons right">send</i>
                            </button>
                          </div>
                            
                      </div>
                </form>
              </div>
        </div>
        
    </article>
</ul>

