<div class="panel row">
  <div class="leftpane" [ngClass]="{'collapsed':isExpanded==false}">
    <ul class="collapsible" style="height: 110%;margin: 0px;">
      <li style="max-height: 6.6%;">
        <div class="collapsible-header z-depth-2"style="pointer-events:none;max-height: 8.9vh;">
          
          <i  class="material-icons">school</i><div class="sob">{{title}}</div>
          
        </div>
        <div class="collapsible-body" style="display: none;"><span ></span></div>
      </li>
      <li class="cpane">
      <div class="navpane"[ngClass]="{'disabled':commonService.userDetails.status!='Active'}">
      <div *ngIf="commonService.user.roleId<2"  class="collapsible-header links tooltipped" data-position="right" data-tooltip="Admins"(click)="move('admin_admins')"><i  class="material-icons">admin_panel_settings</i>
        <span *ngIf="isExpanded==true">Admins</span>
      </div><div *ngIf="commonService.user.roleId<2"    class="collapsible-header links tooltipped" data-position="right" data-tooltip="Schools"(click)="move('admin_schools')"><i  class="material-icons">maps_home_work</i>
        <span  *ngIf="isExpanded==true">Schools</span>
      </div><div  *ngIf="commonService.user.roleId<4"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="Classes"(click)="move('schooladmin_classes')"><i  class="material-icons">groups</i>
        <span  *ngIf="isExpanded==true">Classes</span>
      </div><div  *ngIf="commonService.user.roleId<4"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="Subjects"(click)="move('schooladmin_subjects')"><i  class="material-icons">folder_special</i>
        <span  *ngIf="isExpanded==true">Subjects</span>
      </div><div  *ngIf="commonService.user.roleId<5"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="Chapters"(click)="move('teacher_chapters')"><i  class="material-icons">auto_stories</i>
        <span  *ngIf="isExpanded==true">Chapters</span>
      </div><div  *ngIf="commonService.user.roleId<4"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="Teachers"(click)="move('schooladmin_teachers')"><i  class="material-icons">cast_for_education</i>
        <span  *ngIf="isExpanded==true">Teachers</span>
      </div><div  *ngIf="commonService.user.roleId<3"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="Staff"(click)="move('schooladmin_staff')"><i  class="material-icons">engineering</i>
        <span  *ngIf="isExpanded==true">Staff</span>
      </div><div  *ngIf="commonService.user.roleId<4"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="Students"(click)="move('schooladmin_students')"><i  class="material-icons">local_library</i>
        <span  *ngIf="isExpanded==true">Students</span>
      </div><div  *ngIf="commonService.user.roleId<5"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="StaticQualifier"(click)="move('teacher_qualifier')"><i  class="material-icons">local_police</i>
        <span  *ngIf="isExpanded==true">StaticQualifier</span>
      </div><div  *ngIf="commonService.user.roleId<5"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="DynamicQualifier"(click)="move('teacher_dynamicqualifier')"><i  class="material-icons">filter_alt</i>
        <span  *ngIf="isExpanded==true">DynamicQualifier</span>
      </div><div  *ngIf="commonService.user.roleId<5"   class="collapsible-header links tooltipped" data-position="right" data-tooltip="Questions"(click)="move('teacher_questions')"><i  class="material-icons">quiz</i>
        <span  *ngIf="isExpanded==true">Questions</span>
      </div><div  class="collapsible-header links tooltipped" data-position="right" data-tooltip="SmartCompose"(click)="move('smartcompose')"><i  class="material-icons">widgets</i>
        <span  *ngIf="isExpanded==true">SmartCompose</span>
      </div><div  class="collapsible-header links tooltipped" data-position="right" data-tooltip="QuestionPaper"(click)="move('questionpaper')"><i  class="material-icons">history_edu</i>
        <span  *ngIf="isExpanded==true">QuestionPaper</span>
      </div><div  class="collapsible-header links " data-position="right" data-tooltip="Toggle"(click)="toggle()"><i  class="material-icons" *ngIf="isExpanded==false">keyboard_double_arrow_right</i>
        <i  class="material-icons" *ngIf="isExpanded==true">keyboard_double_arrow_left</i>
        <span  *ngIf="isExpanded==true">Collapse</span>
       </div> 
      </div>
      </li>
    </ul>
  </div>
  <div  class="rightpane"  [ngClass]="{'expanded':isExpanded==false}">
      <ul  class="collapsible head" style="margin:0px;">
        <li >
          <div  class="collapsible-header z-depth-2"style="pointer-events:none;">
            <i  class="material-icons">school</i>{{title}}<i  class="material-icons sob">chevron_right</i>
            <i  class="material-icons sob">{{getIcon()}}</i> 
            <span class="sob valign-wrapper">{{getRoute()}}</span>
            <span class="sos" style="pointer-events: all;"><span [ngClass]="{'disabled':commonService.userDetails.status!='Active'}"(click)="move('auth_profile')"><i  class="material-icons"*ngIf="isExpanded==false">person</i></span><span (click)="toggle()"><i  class="material-icons"*ngIf="isExpanded==false">menu</i><i  class="material-icons"*ngIf="isExpanded==true">close</i></span></span>
          </div>
          
        </li>
      </ul>
      <div class="fluid">
        <router-outlet ></router-outlet>
        <hr>
      </div>
      
  </div>
</div>
