.panel{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.disabled{
    pointer-events: none;
}
.leftpane{
    height: 100%;
    width: 17%;
    background: linear-gradient(30deg, #1A5388, #3592eb);
}

.rightpane{
    height: 100%;
    width: 83%;
}
.ul{
    height: 100%;
    margin-top: 0%;
}
.collapsible-header{
    background-color: #1A5388;
    color: white;
    font-weight: 500;
    border: solid 1px #1A5388;
}
.links{
    background-color: #1A5388;
    background: linear-gradient(30deg, #1A5388, #3592eb);
    color: #ffffff;
    font-weight: 500;
    border: solid 1px #1A5388;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 7vh;
    padding-top: 1.5vh;
}
.links:hover{
    background-color: #1A5388;
    background: linear-gradient(30deg, #1A5388, #3592eb);
    color: #ffb109;
    font-weight: 500;
    border: solid 1px #1A5388;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 7vh;
    padding-top: 1.5vh;
}
.selected{
    text-decoration-line:underline; 
}
.navpane{
    background: linear-gradient(30deg, #1A5388, #3592eb);
    color: white;
    font-weight: 500;
    
    width: 100%;
    
}
.expanded{
    height: 100%;
    width: 96%;
}
.collapsed{
    height: 100%;
    width: 4%;
}
.user{
    margin-left: 65%;
}
.cpane{
    height: 83%;
    overflow-y: scroll;
}
.fluid{
    height: 100%;
    overflow-y: scroll;
    background: white;
    
}
.fluid::-webkit-scrollbar {
    width: 0em;
  }
.cpane::-webkit-scrollbar {
    width: 0em;
}
hr{
    margin-top: 100px;
    opacity: 0px;
}
.sos{
    display: block;
    position: absolute;
    right: 0px;
    
}
.sob{
    display: block;
    
}
@media (max-width: 500px) {
    .sos{
        display: block;
        position: absolute;
        right: 0px;
    }
    .sob{
        display: none;
        
    }
    .leftpane{
        height: 100%;
        width: 100%;
        background: linear-gradient(30deg, #1A5388, #3592eb);
    }
    
    .rightpane{
        height: 100%;
        width: 0%;
    }
    .expanded{
        height: 100%;
        width: 100%;
    }
    .collapsed{
        height: 100%;
        width: 0%;
    
    }
    
  }
