ul{
    margin: 0.3%;
    height: 100%;
    width: 99.4%;
}
article{margin-top: 0px;
    height: 100%;
    width: 100%;
    
    overflow-y: scroll;
    border: 0.5% solid rgba(158, 150, 150, 0.2);
    //border-right: 5px solid rgba(158, 150, 150, 0.2); 
    //margin:0.5%;
}
article::-webkit-scrollbar {
    display: none;
  }
.tab{
    padding: 1%;
    background: rgba(158, 150, 150, 0.2);
    border: 1px solid white; 
}
.activeTab{
    background:white 
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.gridjs-table{
    width: auto !Important;
}
td:hover{
    background: rgba(158, 150, 150, 0.2);
}
aside{
    padding: 1%;
}
.selector{
    padding: 0.5%;
    background-color: #a4a3a31a;
}
