<ul class="">
    
    
    <article class=""    >
      <div class="row selector">
        <div class=" col s12 m3"[ngClass]="{'hidden':commonService.user.roleId!=1}">
          <select class="browser-default" [(ngModel)]="commonService.schoolId" name="SchoolId" (change)="ngOnInit()">
              <option value=''  disabled selected>Select A School</option>
              <option *ngFor="let school of commonService.schoolArr" [value]="school.id">{{school.schoolname}}</option>
          </select>
          <label>Please Select a school from the list</label>
        </div>
      </div>
        <div class="row">
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==0}" (click)="setTab(0)">
            <i class="material-icons">
                library_add
            </i>Create
        </div>
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==1}" (click)="setTab(1)">
            <i class="material-icons">pageview</i>Search
        </div>
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==2}" (click)="notice()">
            <i class="material-icons">draw</i>Update
        </div>
        
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==0}">
            <div class="row">
                <form class="col s12"(ngSubmit)="create()">
                    <div class="row">
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">account_box</i>
                          <input id="firstname" type="text" class="validate" [(ngModel)]="createObj.firstname" name="firstname">
                          <label for="firstname">First Name</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <i class="material-icons prefix">school</i>
                            <input id="middlename" type="text" class="validate" [(ngModel)]="createObj.middlename" name="middlename">
                            <label for="middlename">Middle Name</label>
                          </div>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">assignment_ind</i>
                          <input id="lastname" type="text" class="validate" [(ngModel)]="createObj.lastname" name="lastname">
                          <label for="lastname">Last Name</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate" [(ngModel)]="createObj.email" name="email">
                            <label for="email"> Email</label>
                          </div>
                          <div class="input-field col s12 m4">
                            <i class="material-icons prefix">phone_in_talk</i>
                            <input id="phone" type="tel" class="validate" [(ngModel)]="createObj.phone" name="phone">
                            <label for="phone">Phone</label>
                          </div>
                          <div class="input-field col s12 m4">
                            <i class="material-icons prefix">pin_drop</i>
                            <input id="address" type="text" class="validate" [(ngModel)]="createObj.address" name="address">
                            <label for="address"> Address</label>
                          </div>
                          <div class="col s12 m4">
                            <select class="browser-default " [(ngModel)]="createObj.status" name="status">
                              <option value="Active" disabled selected>Select Teacher status</option>
                              <option value="Active">Active</option>
                              <option value="Disabled">Disabled</option>
                            </select>
                            <label>Select Teacher status</label>
                          </div>
                          </div><div class="row">
                            <div class="col s12 m4">
                              <button class="btn waves-effect gray  " type="submit" name="action" >Create
                                <i class="material-icons right">send</i>
                              </button>
                            </div>                         
                        </div>
                </form>
              </div>
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==1}">
                <span class="col s12 m6"></span>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">cloud_download</i> Text</a>
                </div>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">download</i> CSV</a>
                </div>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">system_update_alt</i> EXCEL</a>
                </div>
            
            <div class="col s12">
                <div id="wrapper"></div>
            </div>
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==2}">
            <div class="row">
                <form class="col s12"(ngSubmit)="udateTeacher(updateObj.id)">
                    <div class="row">
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">account_box</i>
                          <input id="firstname1" type="text" class="validate" [(ngModel)]="updateObj.firstname" name="firstname1">
                          
                          <span class="helper-text" >First Name</span>
                        </div>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">school</i>
                          <input id="middlename1" type="text" class="validate" [(ngModel)]="updateObj.middlename" name="middlename1">
                          
                          <span class="helper-text" >Middle Name</span>
                        </div>
                        <div class="input-field col s12 m4">
                            <i class="material-icons prefix">assignment_ind</i>
                            <input id="lastname1" type="text" class="validate" [(ngModel)]="updateObj.lastname" name="lastname1" >
                            
                            <span class="helper-text" >Last Name</span>
                          </div>
                          <div class="input-field col s12 m4">
                            <i class="material-icons prefix">email </i>
                            <input id="email1" type="email" class="validate" [(ngModel)]="updateObj.email" name="email1"readonly>
                            
                            <span class="helper-text" >Email</span>
                          </div>
                          <div class="input-field col s12 m4">
                            <i class="material-icons prefix">phone_in_talk</i>
                            <input id="Phone1" type="tel" class="validate" [(ngModel)]="updateObj.phone" name="phone1">
                            
                            <span class="helper-text" >Phone</span>
                          </div>
                          <div class="input-field col s12 m4">
                            <i class="material-icons prefix">pin_drop</i>
                            <input id="address1" type="text" class="validate" [(ngModel)]="updateObj.address" name="address1">
                            
                            <span class="helper-text" >Address</span>
                          </div>
                          <div class="col s12 m4">
                            <select class="browser-default " name="schoolstatus"[(ngModel)]="updateObj.status">
                              <option [value]="updateObj.status">{{updateObj.status}}</option>
                              <option value="Active">Active</option>
                              <option value="Disabled">Disabled</option>
                            </select>
                            <label>Select Teacher status</label>
                          </div>
                          </div><div class="row">
                          <div class="col s12 m4">
                              <button class="btn waves-effect gray  " type="submit" name="action">Update
                                  <i class="material-icons right">send</i>
                              </button>
                            </div>
                              
                        </div>
                </form>
              </div>
            
        </div>
        
    </article>
</ul>

