<div *ngIf="commonService.user.roleId!=2">
<div class="row">
  <div class="col s12 m4"></div>
  <div class="col s12 m4 center-align">
    <i style="font-size: 108px;" class="material-icons">person</i>
  </div>
  <div class="col s12 m4"></div>
</div>
<div class="row">
  <div class="col s12 m4"></div>
  <div class="col s12 m4 center-align">
    Full Name:{{commonService.userDetails.firstname}} {{commonService.userDetails.middlename}} {{commonService.userDetails.lastname}}
  </div>
  <div class="col s12 m4"></div>
  </div><div class="row">
  <div class="col s12 m4"></div>
  <div class="col s12 m4 center-align">
    Email:{{commonService.userDetails.email}}
  </div>
  <div class="col s12 m4"></div>
</div><div class="row">
  <div class="col s12 m4"></div>
  <div class="col s12 m4 center-align">
    Phone:{{commonService.userDetails.phone}}
  </div>
  <div class="col s12 m4"></div>
</div><div class="row">
  <div class="col s12 m4"></div>
  <div class="col s12 m4 center-align">
    Address:{{commonService.userDetails.address}}
  </div>
  <div class="col s12 m4"></div>
</div><div class="row">
  <div class="col s12 m4"></div>
  <div class="col s12 m4 center-align">
    Role:{{commonService.user.roleName}}
  </div>
  <div class="col s12 m4"></div>
</div>
<div class="row">
  <div class="col s12 m4"></div>
  <div class="col s12 m4">
  <button class="btn waves-effect red  "style="background:#e57373;"type="button"(click)="snot()" name="action" >Logout
    <i class="material-icons right">login</i>
  </button>
  </div>
  <div class="col s12 m4"></div>
</div>
</div>
<div *ngIf="commonService.user.roleId==2">
  <div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4 center-align">
      <i style="font-size: 108px;" class="material-icons">person</i>
    </div>
    <div class="col s12 m4"></div>
  </div>
  <div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4 center-align">
      Full Name:{{commonService.userDetails.schoolname}} 
    </div>
    <div class="col s12 m4"></div>
    </div><div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4 center-align">
      Email:{{commonService.userDetails.schoolemail}}
    </div>
    <div class="col s12 m4"></div>
  </div><div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4 center-align">
      Phone:{{commonService.userDetails.schoolphone}}
    </div>
    <div class="col s12 m4"></div>
  </div><div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4 center-align">
      Address:{{commonService.userDetails.schooladdress}}
    </div>
    <div class="col s12 m4"></div>
  </div><div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4 center-align">
      Role:{{commonService.user.roleName}}
    </div>
    <div class="col s12 m4"></div>
  </div>
  <div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4">
    <button class="btn waves-effect red  "style="background:#e57373;"type="button"(click)="snot()" name="action" >Logout
      <i class="material-icons right">login</i>
    </button>
    </div>
    <div class="col s12 m4"></div>
  </div>
  </div>

