<ul class=" ">
    
    <article class="">
        <div class="row">
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==0}" (click)="setTab(0)">
            <i class="material-icons">
                library_add
            </i>Create
        </div>
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==1}" (click)="setTab(1)">
            <i class="material-icons">pageview</i>Search
        </div>
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==2}" (click)="notice()">
            <i class="material-icons">draw</i>Update
        </div>
        
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==0}">
            <div class="row">
                <form class="col s12"(ngSubmit)="create()">
                    <div class="row">
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">school</i>
                          <input id="schoolname" type="text" class="validate" [(ngModel)]="createObj.schoolname" name="schoolname">
                          <label for="schoolname">School Name</label>
                        </div>
                        <div class="input-field col s12 m4">
                          <i class="material-icons prefix">subtitles</i>
                          <input id="schooltag" type="text" class="validate" [(ngModel)]="createObj.schooltag" name="schooltag">
                          <label for="schooltag">School Tag</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <i class="material-icons prefix">email</i>
                            <input id="schoolemail" type="email" class="validate" [(ngModel)]="createObj.schoolemail" name="schoolemail">
                            <label for="schoolemail">School Email</label>
                          </div>
                          <div class="input-field col s12 m4">
                            <i class="material-icons prefix">phone_in_talk</i>
                            <input id="schoolphone" type="tel" class="validate" [(ngModel)]="createObj.schoolphone" name="schoolphone">
                            <label for="schoolphone">School Phone</label>
                          </div>
                          <div class="input-field col s12 m8">
                            <i class="material-icons prefix">pin_drop</i>
                            <input id="schooladdress" type="text" class="validate" [(ngModel)]="createObj.schooladdress" name="schooladdress">
                            <label for="schooladdress">School Address</label>
                          </div>
                          
                            <div class="col s12 m4">
                              <select class="browser-default " [(ngModel)]="createObj.status" name="status">
                                <option value="Active" disabled selected>Select school status</option>
                                <option value="Active">Active</option>
                                <option value="Disabled">Disabled</option>
                              </select>
                              <label>Select school status</label>
                            </div>
                              <div class="col s12 m4">
                                <button class="btn waves-effect gray  " type="submit" name="action" >Create
                                  <i class="material-icons right">send</i>
                                </button>
                              </div>  
                      </div>
                </form>
              </div> 
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==1}">
                <span class="col s12 m6"></span>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">cloud_download</i> Text</a>
                </div>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">download</i> CSV</a>
                </div>
                <div  class="col s12 m2">
                  <a class=" btn-small "style="background-color: #1a5388b0;font-weight: bold;;margin:0.1%;"><i class="material-icons right">system_update_alt</i> EXCEL</a>
                </div>
            
            <div class="col s12">
                <div id="wrapper"></div>
            </div>
        </div>
        <div class="row hidden" [ngClass]="{'visible':tabIndex==2}">
          <div class="row">
            <form class="col s12"(ngSubmit)="udateSchool(updateObj.id)">
                <div class="row">
                    <div class="input-field col s12 m4">
                      <i class="material-icons prefix">school</i>
                      <input id="schoolname1" type="text" class="validate" [(ngModel)]="updateObj.schoolname" name="schoolname">
                      
                      <span class="helper-text" >School Name</span>
                    </div>
                    <div class="input-field col s12 m4">
                      <i class="material-icons prefix">subtitles</i>
                      <input id="schooltag1" type="text" class="validate" [(ngModel)]="updateObj.schooltag" name="schooltag">
                      
                      <span class="helper-text" >School Tag</span>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">email</i>
                        <input id="schoolemail1" type="email" class="validate" [(ngModel)]="updateObj.schoolemail" name="schoolemail" readonly>
                        
                        <span class="helper-text" >School Email</span>
                      </div>
                      <div class="input-field col s12 m4">
                        <i class="material-icons prefix">phone_in_talk</i>
                        <input id="schoolphone1" type="tel" class="validate" [(ngModel)]="updateObj.schoolphone" name="schoolphone">
                        
                        <span class="helper-text" >School Phone</span>
                      </div>
                      <div class="input-field col s12 m8">
                        <i class="material-icons prefix">pin_drop</i>
                        <input id="schooladdress1" type="text" class="validate" [(ngModel)]="updateObj.schooladdress" name="schooladdress">
                        
                        <span class="helper-text" >School Address</span>
                      </div>
                      <div class="col s12 m4">
                        <select class="browser-default " name="schoolstatus"[(ngModel)]="updateObj.status">
                          <option [value]="updateObj.status">{{updateObj.status}}</option>
                          <option value="Active">Active</option>
                          <option value="Disabled">Disabled</option>
                        </select>
                        <label>Select Admin status</label>
                      </div>
                      <div class="col s12 m4">
                          <button class="btn waves-effect gray  " type="submit" name="action">Update
                              <i class="material-icons right">send</i>
                          </button>
                        </div>
                  </div>
            </form>
          </div>
        </div>
        
    </article>
  </ul>

