<ul class="">
    
    
    <article class="">
        <div class="row selector">
          <div class=" col s12 m3"[ngClass]="{'hidden':commonService.user.roleId!=1}">
            <select class="browser-default" [(ngModel)]="commonService.schoolId" name="SchoolId" (change)="ngOnInit()">
                <option value=''  disabled selected>Select A School</option>
                <option *ngFor="let school of commonService.schoolArr" [value]="school.id">{{school.schoolname}}</option>
            </select>
            <label>Please Select a school from the list</label>
          </div>
            <div class=" col s12 m3">
            <select class="browser-default" [(ngModel)]="classId" name="classId" (change)="loadSubjects()" style="height: 1%;">
                <option value=''  disabled selected>Select A Class</option>
                <option *ngFor="let class of classArr" [value]="class.id">{{class.classname}}</option>
            </select>
            <label>Select A Class</label>
            </div>
            
                <div class=" col s12 m3">
                <select class="browser-default" [(ngModel)]="subjectId" name="subjectId"  style="height: 1%;">
                    <option value=''  disabled selected>Select A Subject</option>
                    <option *ngFor="let subject of subjectArr " [value]="subject.id">{{subject.subjectname}}</option>
                </select>
                <label>Select A Subject</label>
                </div>
            <div class="col s12 m2">
            <button class="btn waves-effect   " type="button" name="action"(click)="load()">Load Chapters
                <i class="material-icons right">cloud_sync</i>
            </button>
            </div>
        </div>
        <div class="row">
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==0}" (click)="setTab(0)">
            <i class="material-icons">
                auto_stories
            </i>Chapters
        </div>
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==1}" (click)="setTab(1)">
            <i class="material-icons">miscellaneous_services</i>Schema 
        </div>
        <div class="tab col s4 tab collapsible-header"[ngClass]="{'activeTab':tabIndex==2}" (click)="setTab(2)">
            <i class="material-icons">tune</i>Compose
        </div>
        </div>
        <div class="row"[ngClass]="{'hidden':tabIndex!=0}">
            <div class="col s12">
                Select the Chapters to be included
            </div>
        </div>
        <div class="row"[ngClass]="{'hidden':tabIndex!=0}">
            <div class="   col s12 m4" *ngFor="let chapt of dataArr">
                <p class="card list z-depth-3">
                    <label>
                        <input type="checkbox" class="filled-in chaptname"  checked="checked" />
                        <span>{{chapt.chaptername}}</span>
                    </label>
                </p> 
            </div>
            <div class="row">
                <div class="col s6 m8"></div>
                <div class="col s6 m4">
                    <button class="btn waves-effect   " type="button" name="action"(click)="continue(1)">continue
                        <i class="material-icons right">skip_next</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row"[ngClass]="{'hidden':tabIndex!=1}">
            <div class="col s12">
                Select the Schema or Question types to be included
            </div>
        </div>
        <div class="row"[ngClass]="{'hidden':tabIndex!=1}">
            <div class="   col s12 m4" *ngFor="let qua of qualifierArr">
                <div class="card list z-depth-3">
                    <label>
                        <input type="checkbox" class="filled-in quaname" checked="checked" />
                        <span>{{qua.qualifiername}}</span>
                    </label>
                    <div> {{qua.qualifiermarks}}-marks/question</div>
                    <div> {{qua.qualifierdetails}}</div>
                </div> 
            </div>
           
        </div>
        <div class="row"[ngClass]="{'hidden':tabIndex!=1}">
            <div class="col s12">
                Select the Dynamic filters to be included
            </div>
        </div>
        <div class="row"[ngClass]="{'hidden':tabIndex!=1}">
            <div class="   col s12 m4" *ngFor="let qua of dynamicQualifierArr">
                <div class="card list z-depth-3">
                    <label>
                        <input type="checkbox" class="filled-in dquaname" checked="checked" />
                        <span>{{qua.qualifiername}}</span>
                    </label>
                    <div> {{qua.qualifierdetails}}</div>
                </div> 
            </div>
            <div class="row">
                <div class="col s6 m8"></div>
                <div class="col s6 m4">
                    <button class="btn waves-effect   " type="button" name="action"(click)="continue(2)">continue
                        <i class="material-icons right">skip_next</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row"[ngClass]="{'hidden':tabIndex!=2}">
            Compose and generate the question paper
        </div>
        <div class="row"[ngClass]="{'hidden':tabIndex!=2}">
            <div class="row border"*ngFor="let sch of  schemaArr">
                <div class="col s12 m12 seperator">
                    {{sch[0].qualifiername}}[<span class="total">{{sch[3]*sch[0].qualifiermarks}}</span>]
                </div>
                <div class="col s12 m4">
                    Select Chapters
                    <select class="browser-default chaptsel"[(ngModel)]="sch[5]" multiple>
                        <option [value]="chapt.id " *ngFor="let chapt of sch[1]" >{{chapt.chaptername}}</option>
                    </select>
                </div>
                <div class="col s12 m4">
                    Select Filters
                    <select class="browser-default dquasel"[(ngModel)]="sch[6]" multiple (change)="chg(this)">
                        <option [value]="dqua.id " *ngFor="let dqua of sch[2]" >{{dqua.qualifiername}}</option>
                    </select>
                </div>
                <div class="col s6 m2">
                    number of questions
                    <input type="number" class="num"min="0" [(ngModel)]="sch[3]">
                </div>
                <div class="col s6 m2">
                    Extra questions
                    <input type="number" class="ext"min="0" [(ngModel)]="sch[4]">
                </div>
            </div>
            
            <div class="row">
                <div class="col s6 m8"></div>
                <div class="col s6 m4">
                    <button class="btn waves-effect   " type="button" name="action"(click)="compose()">Compose
                        <i class="material-icons right">history_edu</i>
                    </button>
                </div>
            </div>
        </div>
        
    </article>
</ul>
<div class="overlay valign-wrapper row" [ngClass]="{'hidden': isLoading==false}">
    <div class="col s12 m4"></div>
    <div class="center-align col s12 m4">
        Please Wait Composing...{{percent}}%
    </div>
    <div class="col s12 m4"></div>
</div>
<a class="btn-floating btn-large waves-effect waves-light red">{{getTotal()}}</a>
